* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #7D7D7D;
  --title-color: #121212;
  --acent-color: #514A7E;
  --bgd-color: #FFFDF5;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: var(--main-color);
  background-color: var(--bgd-color);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__top {
  padding-top: 50px;
  margin-bottom: 60px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  margin-right: auto;
}

.search__form {
  display: flex;
}

.search__btn {
  border: none;
  background-color: transparent;
  margin-right: 20px;
}

.search__input {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: groove;
  border-bottom: 0.5px solid #7D7D7D;
  margin-right: 40px;
}

.search__input::placeholder {
  font-size: 12px;
  font-weight: 100;
  color: var(--main-color);
}

.user__list {
  display: flex;
}

.user__item {
  list-style: none;
}

.user__item:not(:last-child) {
  margin-right: 15px;
}

.user__link {
  text-decoration: none;
}

.header__contant {
  background-image: url(../img/header-jeans.png);
  background-position: top right;
  background-size: 475px 415px;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}

.header__img {
  margin-bottom: 60px;
}

.header__title {
  color: var(--title-color);
  font-weight: 300;
  font-size: 60px;
  max-width: 540px;
  margin-bottom: 60px;
}

.header__title span {
  font-family: 'Bad Script', cursive;
  font-weight: 400;
}

.header__text {
  font-size: 16px;
  max-width: 255px;
}

.header__link {
  display: block;
  padding: 70px 40px;
  color: var(--acent-color);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid var(--acent-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 195px;
  width: 195px;
  margin: 0 auto;
  position: relative;
}

.header__link::after {
  content: url(../img/icons/arrow.svg);
  position: absolute;
  color: var(--acent-color);
  top: 90px;
  right: 30px;
}

/* benefits */

.benefits {
  margin-bottom: 130px;
}

.title {
  font-size: 40px;
  color: var(--title-color);
}

.benefits__title {
  margin-bottom: 95px;
}

.benefits__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: -100px;
}

.benefits__item {
  list-style: none;
  max-width: 185px;
  margin-bottom: 100px;
  position: relative;
}

.benefits__item:not(:last-child) {
  margin-right: 100px;
}

.benefits__item--one::after,
.benefits__item--three::after,
.benefits__item--five::after,
.benefits__item--six::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: var(--acent-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(81, 74, 126, 0.4);
}

.benefits__item--one::after {
  bottom: -5px;
  right: 30px;
}

.benefits__item--three::after,
.benefits__item--five::after {
  width: 47px;
  height: 47px;

}

.benefits__item--three::after {
  bottom: 30px;
  right: -50px;
}

.benefits__item--five::after {
  top: 10px;
  right: -50px;
}

.benefits__item--six::after {
  bottom: 25px;
  right: -25px;
}

.benefits__links {
  display: flex;
}

.benefits__up,
.benefits__chat {
  display: block;
  width: 72px;
  height: 72px;
  background-color: var(--acent-color);
  border-radius: 50%;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(81, 74, 126, 0.4);
}

.benefits__up {
  margin-right: auto;
}

.benefits__chat {
  margin-left: auto;
}

.benefits__up::after {
  content: url(../img/icons/up-arrow.svg);
  position: absolute;
  left: 32px;
  top: 20px;
}

.benefits__chat::after {
  content: url(../img/icons/chat.svg);
  position: absolute;
  left: 18px;
  top: 18px;
}

/* sale */

.sale__title {
  position: relative;
  margin-bottom: 60px;
}

.sale__title::after {
  content: 'Акции';
  position: absolute;
  font-family: 'Bad Script', cursive;
  font-size: 40px;
  font-weight: 400;
  color: var(--acent-color);
  top: 30px;
  left: 265px;
}

.sale__articles {
  display: flex;
  justify-content: space-between;
  padding-left: 135px;
}

.card {
  max-width: 280px;
}

.card:not(:last-child) {
  margin-right: 80px;
}

.card__img {
  width: 280px;
  height: 320px;
}

.card__description {
  display: flex;
  justify-content: space-between;
}

.card__curent {
  font-size: 14px;
  font-weight: 400;
  color: var(--title-color);
}

.card__old {
  font-size: 12px;
  font-weight: 300;
  color: var(--main-color);
  text-decoration: line-through;
}

.card__title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 13px;
}

.card__more {
  display: block;
  font-size: 14px;
  color: var(--title-color);
  font-weight: 400;
  text-decoration: none;
  padding: 14px 25px;
  border: .5px solid var(--title-color);
  position: relative;
}

.card__more::after {
  content: url(../img/icons/card-arrow.svg);
  position: absolute;
  right: 25px;
  top: 13px;
}

.card__options {}

.card__favorite {}

.card__bag {}

.card__ratio {}