* {
  box-sizing: border-box;
}

:root {
  --main-color: #7D7D7D;
  --title-color: #121212;
  --acent-color: #514A7E;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--main-color);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__top {
  padding-top: 50px;
  margin-bottom: 60px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  margin-right: auto;
}

.search__form {
  display: flex;
}

.search__btn {
  border: none;
  background-color: transparent;
  margin-right: 20px;
}

.search__input {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: groove;
  border-bottom: 0.5px solid #7D7D7D;
  margin-right: 40px;
}

.search__input::placeholder {
  font-size: 12px;
  font-weight: 100;
  color: var(--main-color);
}

.user__list {
  display: flex;
}

.user__item {
  list-style: none;
}

.user__item:not(:last-child) {
  margin-right: 15px;
}

.user__link {
  text-decoration: none;
}

.header__contant {
  background-image: url(../img/header-jeans.png);
  background-position: top right;
  background-size: 475px 415px;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}

.header__img {
  margin-bottom: 60px;
}

.header__title {
  color: var(--title-color);
  font-weight: 300;
  font-size: 60px;
  max-width: 540px;
  margin-bottom: 60px;
}

.header__title span {
  font-family: 'Bad Script', cursive;
  font-weight: 400;
}

.header__text {
  font-weight: 300;
  font-size: 16px;
  max-width: 255px;
}

.header__link {
  display: block;
  padding: 70px 40px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid var(--acent-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 195px;
  width: 195px;
  margin: 0 auto;
  position: relative;
}

.header__link::after {
  content: url(../img/icons/arrow.svg);
  position: absolute;
  color: var(--acent-color);
  top: 90px;
  right: 30px;
}

